.filters {
  /* background-color: green; */
  /* height: 100;
    width: 100; */
  margin: 2vh;
}

.MuiSelect-select {
  border-width: 1px !important;
  border: 1px solid white;
}

.filters .MuiFormLabel-root {
  color: white;
}

.filters .MuiInputBase-root:hover {
  border-width: 1px !important;
  border: 1px solid white;
}
